@tailwind base;
@tailwind components;
@tailwind utilities;


.frame {
  display: grid;
  /* 16 rows and columns */
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  @apply bg-black border-4 border-black shadow-xl rounded-lg;
}

.pixel {
  @apply inline-flex justify-center items-center text-xs;
  border: .1px solid #000;
}

.grass {
  @apply bg-green-500 h-1/4 w-full absolute top-0;
}

.treasure {
  @apply h-full w-full absolute top-0 inline-flex items-center justify-center;
}

.diamond {
  @apply bg-blue-500 h-1/2 w-1/2 aspect-square;
}

.regular-treasure {
  @apply h-1/2 w-1/2 aspect-square opacity-60;
}

.player {
  @apply bg-red-500 h-1/2 w-1/2 aspect-square;
}

.x-y {
  @apply text-black font-mono font-medium absolute w-full h-full text-center flex justify-center items-center opacity-0 hover:opacity-100 transition-opacity cursor-pointer; 
}